html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Montserrat;

}

body {
	background: #111111;
	color: white;
	-webkit-overflow-scrolling: touch;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	min-height: 100vh;
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%
}

.btn--export {
	appearance: none;
	box-shadow: none;
	background: white;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	padding: 7px 15px;
	line-height: 1;
	outline: none !important;
	cursor: pointer;
	text-transform: uppercase;
}

.info {
	font-size: 20px;
	padding: 20px;
}

.output {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #333;
	width: auto;
	margin: 0 auto;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 960px;
	height: 540px;

	.inner {
		display: flex;
		width: calc(100% - 40px);
		flex: 0 0 auto;
		color: #ffc600;

		.text {
			text-transform: uppercase;
			font-size: 40px;
			text-shadow: 0 4px 3px rgba(0, 0, 0, 0.15);
		}

		svg {
			fill: #ffc600;
			width: auto;
			height: 100px;
		}
	}
}

.card--0 {

	.inner {
		flex-direction: column;
	}

	.icon {
		order: 1;
		margin-bottom: 20px;
	}

	.text {
		order: 2;
		font-size: 70px;
	}
}

.card--1 {

	.inner {
		flex-direction: column;
	}

	.icon {
		order: 2;
		margin-top: 20px;
	}

	.text {
		order: 1;
		font-size: 70px;
	}
}

.card--2 {

	.inner {
		flex-direction: row;
		align-items: center;
	}

	.icon {
		order: 1;
		margin-right: 20px;
	}

	.text {
		order: 2;
		font-size: 70px;
	}
}
